@page "/army"
@inject IUnitService UnitService
@attribute [Authorize]

<h3>Army</h3>
@if (apiLoaded)
{
    <table class="table">
        @foreach (var userUnit in UnitService.MyUnits)
        {
            <tr>
                <td>
                    <img src="@UnitService.Units.First(unit => unit.Id == userUnit.UnitId).IconPath" />
                </td>
                <td>
                    @UnitService.Units.First(unit => unit.Id == userUnit.UnitId).Title
                </td>
                <td>
                    @userUnit.HitPoints HP
                </td>
            </tr>
        }
    </table>
    <center>
        <button class="btn btn-warning" @onclick="ReviveArmy">Revive Army (1000 Bananas)</button>
        <button class="btn btn-warning" @onclick="BuryArmy">Bury Army</button>
    </center>
}
else {
    <span>Loading Army ...</span>
}

@code {
    bool apiLoaded = false;
    protected override async Task OnInitializedAsync()
    {
        await UnitService.LoadUnitsAsync();
        await UnitService.LoadUserUnitsAsync();
        apiLoaded = true;
    }

    private async Task ReviveArmy()
    {
        await UnitService.ReviveArmy();
    }

    private async Task BuryArmy()
    {
        await UnitService.BuryArmy();
    }
}
