@page "/build"
@inject IBananaService BananaService
@inject IUnitService UnitService
@inject IToastService ToastService
@attribute [Authorize]

<h3>Build</h3>

<div class="form-group">
    <select @bind="selectedUnitId" class="form-control">
        @foreach (var unit in UnitService.Units)
        { 
            <option value="@unit.Id">@unit.Title // @unit.BananaCost Bananas</option>
        }
    </select>
</div>

<button class="btn btn-primary" @onclick="BuildUnit">
    <span style="padding-right: 5px">Build @UnitService.Units.FirstOrDefault(unit => unit.Id == selectedUnitId).Title</span>
    <img src=@UnitService.Units.FirstOrDefault(unit => unit.Id == selectedUnitId).IconPath />
</button>

@if(needMoreBananas)
{
    <div class="validation-message">
        More bananas required.
    </div>
}

@code {
    int selectedUnitId = 1;
    bool needMoreBananas = false;

    private void BuildUnit()
    {
        var selectedUnit = UnitService.Units.FirstOrDefault(unit => unit.Id == selectedUnitId);

        if (BananaService.Bananas < selectedUnit.BananaCost)
        {
            needMoreBananas = true;
            ToastService.ShowError($"You will need to save more bananas to purchase the {selectedUnit.Title}.", "Need more bananas");
            return;
        }

        BananaService.EatBananas(selectedUnit.BananaCost);
        UnitService.AddUnit(selectedUnitId);
    }
}
