@page "/"

<AuthorizeView>
    <Authorized>
        <h1>Welcome, @context.User.Identity.Name . </h1>
        Click <a href="army">here</a> to view your army.
    </Authorized>
    <NotAuthorized>
        <h1>Welcome to Beazy Battles!</h1><h3>Please Login Below.</h3><br />
        <Login></Login>
    </NotAuthorized>
</AuthorizeView>
